<div class="text-end mb-4">
  <button class="btn btn-dark p-0 me-2">
    <span class="fa-solid fa-share fa-xl"></span>
  </button>
  <button class="btn btn-dark p-0 me-2">
    <span class="fa-regular fa-comment fa-xl"></span>
  </button>
  <button class="btn btn-dark p-0 me-2">
    <span class="fa-solid fa-repeat fa-xl"></span>
  </button>
  <button class="btn btn-dark p-0">
    <span class="fa-regular fa-heart fa-xl"></span>
  </button>
</div>
